.nav {
    margin-bottom: 280px;
    border: 8px solid rgb(0, 170, 255);
    border-radius: 20%;
    font-weight: 700;
}

.raffle__list {
    width: 60vw;
    height: 80vh;
    overflow-y: scroll;
    background-color: #fff;
    border-radius: 10px;
}

.raffle__list__title {
    margin-bottom: 30px;
}